black==22.1.0
cfgv==3.3.1
click==8.0.4
distlib==0.3.4
falcon==3.1.1
filelock==3.6.0
flake8==4.0.1
uvicorn==0.20.0
greenlet==2.0.1
identify==2.4.12
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.5.1
pre-commit==2.17.0
pycodestyle==2.8.0
pydantic==2.1.1
pyflakes==2.4.0
PyJWT==2.0.0
PyMySQL==1.0.2
pyodbc==4.0.35
PyYAML==6.0
redis>=5.2.0
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
tomli==2.0.1
virtualenv==20.13.4
azure-storage-blob==12.10.0
azure-identity==1.8.0
alembic==1.7.7
aiofiles>=0.8.0
Pillow==9.3.0
aiohttp>=3.8.5
azure-storage-file-share==12.15.0
websockets==10.4
grpcio==1.51.3
grpcio-tools==1.51.3
openai==1.14.1
python-docx==0.8.11
pypdf==3.12.2
python-pptx==0.6.21
ExifRead==2.3.2
azure-monitor-opentelemetry==1.6.2
azure-monitor-opentelemetry-exporter==1.0.0b31
opentelemetry-instrumentation-asgi
git+https://github.com/bitmovin/bitmovin-api-sdk-python.git@v1.194.0